$primary: #f53855;

#header {
  justify-content: space-between;
  height: 50;
  display: flex;
  padding-right: 5rem;
  color: black;
  align-items: center;
  span {
    margin-right: 3rem;
  }

  .logo_title {
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: 700;
    span {
      margin-left: 10px;
    }
  }

  .id_list {
    font-size: 16px;
    color: #4f5665;
  }
  .signUp {
    font-weight: 500;
    button {
      width: 9em;
      height: 2.5rem;
      border: 1px solid $primary;
      color: $primary;
      font-size: 16px;
      border-radius: 20px;
      background-color: transparent;
      cursor: pointer;

      &:hover {
        color: white;
        background-color: $primary;
      }
    }
  }
}
